body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    margin: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
    position: absolute;
    z-index: 2;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:  1fr 1fr  ;
    gap: 20px;
    width: 100%;
    height: 100%;

}

.header{
    grid-column: span 1;
    background-color: #D9D9D9; 
    color: black;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 2px;
    width: 25%;
    height: 1fr;
    border-radius: 1vh;

    
    
}
.Shop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
}
.ejercicios{
    display: grid;
    grid-template-columns: 15% 5% 60% 5% 15%;
    background-color: #D9D9D9; 
    
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    width: 30vw;
    height: 8vh;
    align-items: flex-start;
    justify-items: flex-start;
    transition: transform 0.3s ease-in-out;


}


.ejercicios-hover {
    transform: scale(1.5);
}

#ejerciciosmancuernas{
    display: grid;
    grid-template-columns: 15% 5% 60% 5% 15%;
}

.w{
    margin: auto;
    width: 100%;
    height: 100%;
    border: black;
}

.w2{
   background-color: #f4f4f4; 
   width: 100%;
    height: 100%;
}

.tituloshop{
    display: flex;
    color: black;
    background-color: #D9D9D9; 
    border: 4px solid;
    border-color: black;
    justify-content: center;
    height: 60px;
    width: 400px;
}
.titulofood{
    display: flex;
    color: black;
    background-color: #D9D9D9; 
    border: 4px solid;
    border-color: black;
    justify-content: center;
    height: 60px;
    width: 400px;
}
.contadordecalorias{ 
    display: flex;
    color: black;
    background-color: #D9D9D9; 
    border: 4px solid;
    border-color: black;
    justify-content: center;
    border-radius: 25px;
    height: 40px;
    width: 400px;
}

.Production{
    background-color: #D9D9D9; 
    border: 4px solid;
    border-color: black;
    color: black;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 2px;

}

.contador{
    justify-content: center;
    align-items: center;
}
img{
    width: 300px;
    height: 300px;
 
    align-items: center;
  
}
.circulo{
    background: lightblue;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    align-content: center;
    cursor: pointer;
    padding:1px;
    position: relative;
    right: 40px;
    top: -300px;
    transition: transform 0.3s ease; 
}


.Comida{
    background-color: #D9D9D9; 
    border: 4px solid;
    border-color: black;
    color: black;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 2px;
    width: 29vw;
    height: 8vh;

}
.Cof{
    width: 450px;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.pill {
    width: 50px;
    height: 400px;
    background: linear-gradient(to bottom, #D3D3D3 50%, #90EE90 50%);
    border-radius: 25px;
    border: 1px solid #ccc;
   
    
}
  
.Fat{
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.mama{
    display: grid;
    justify-items: end;
}
.borrar{
    color:#f4f4f4;
}   
.abajo{
    display: flex;
    color: black;
    background-color: #D9D9D9; 
    border: 4px solid;
    border-color: black;
    justify-content: center;
    width: 30vw;
    height: 8vh;
   
}
.abajo2{
    display: flex;
    color: black;
    background-color: #D9D9D9; 
    border: 4px solid;
    border-color: black;
    justify-content: center;
    width: 30vw;
    height: 8vh;
}
.titulodinero{
    display: flex;
    color: black;
    background-color: #D9D9D9; 
    border: 4px solid;
    border-color: black;
    justify-content: center;
    border-radius: 25px;
    height: 40px;
    width: 400px;
    transition: background-color 1s linear;
}

  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    background-image: url("images/hero-bg.jpg");
    background-position: center;
    background-size: cover;
}
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    backdrop-filter: blur(17px);
    border-right: white;
    transition: height 0.3s ease;
}

.sidebar :target {
    height: 500px;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 450px;
    height: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease, opacity 0.5s ease;
    visibility: hidden;
    width: 450px;
    height: 650px;
    justify-content: center;
    align-items: center;
    align-items: center;
    justify-items: center;
}

.show {
    opacity: 1;
    height: auto;
    visibility: visible;
}


.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
    background-color: grey;
    width: 70%;
    height: 50%;
    justify-content: center;
    align-items: center;
    align-items: center;
    justify-items: center;
    

}
.cajanegra{
    width: 100px;
    height: 100px;
    border: black 5px solid;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}
.cajagris{
    border-radius: 10px;
    background-color: grey;
    width: 300px;
    height: 100px;
    justify-content: center;
    align-items: center;
    align-items: center;
    justify-items: center;
}
.botonNuevo{
    background-color: grey;
    text-align: center;
    color: black;
    background-color: #D9D9D9; 
    border: 4px solid;
    border-color: black;
    justify-content: center;
    height: 60px;
    width: 400px;
}


input{
    width: 20px;
    height: 10px;
}
.especial{
    background-color: peru;
    border: 4px solid;
    border-color: black;
}

.input1{
    width: 90px;
    height: 90px;
}
.hidden {
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
    height: 0; 
    overflow: hidden; 
    background-color: silver;

}

.visible {
    opacity: 1; 
    transition: opacity 0.3s ease-in-out; 
    height: auto; 
    height: 75px;
    width: 250px;
    background-color: silver;
    position: relative;
    top:-150px;
}

.hola{
  width: 200px;
  height: 15px;
}
.xd{
    position: absolute;
    z-index: 0;
}